.maincolumn
  .next_button.flip
    = link_to(image_tag('next-arrow.png'), 'index.html')

  %a(href="images/Tribeca_Eye_Associates_1.jpg" class="fancybox" rel="group10")  
    = image_tag "Tribeca_Eye_Associates_1.jpg", :class => "special"
  %a(href="images/Tribeca_Eye_Associates_2.jpg" class="fancybox" rel="group10")
    - image_tag "Tribeca_Eye_Associates_2.jpg"
  %a(href="images/Tribeca_Eye_Associates_3.jpg" class="fancybox" rel="group10")
    - image_tag "Tribeca_Eye_Associates_3.jpg"
  %a(href="images/Tribeca_Eye_Associates_4.jpg" class="fancybox" rel="group10")
    - image_tag "Tribeca_Eye_Associates_4.jpg"


  %a(href="images/West_97th_Street_Residence_1.jpg" class="fancybox" rel="group11")  
    = image_tag "West_97th_Street_Residence_1.jpg"
  %a(href="images/West_97th_Street_Residence_2.jpg" class="fancybox" rel="group11") 
    - image_tag "West_97th_Street_Residence_2.jpg"
  %a(href="images/West_97th_Street_Residence_3.jpg" class="fancybox" rel="group11") 
    - image_tag "West_97th_Street_Residence_3.jpg"


  %a(href="images/West_End_Avenue_Residence_1.jpg" class="fancybox" rel="group12")
    = image_tag "West_End_Avenue_Residence_1.jpg"
  %a(href="images/West_End_Avenue_Residence_3.jpg" class="fancybox" rel="group12")
    - image_tag "West_End_Avenue_Residence_3.jpg"
  %a(href="images/West_End_Avenue_Residence_5.jpg" class="fancybox" rel="group12")
    - image_tag "West_End_Avenue_Residence_5.jpg"


  %a(href="images/West_Side_Insitutional_Synagogue_3.jpg" class="fancybox" rel="group13")
    = image_tag "West_Side_Insitutional_Synagogue_3.jpg"
  %a(href="images/West_Side_Insitutional_Synagogue_5.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Insitutional_Synagogue_5.jpg"
  %a(href="images/West_Side_Insitutional_Synagogue_7.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Insitutional_Synagogue_7.jpg"
  %a(href="images/West_Side_Insitutional_Synagogue_9.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Insitutional_Synagogue_9.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_01.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_01.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_10.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_10.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_2.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_2.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_4.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_4.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_6.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_6.jpg"
  %a(href="images/West_Side_Institutional_Synagogue_8.jpg" class="fancybox" rel="group13")
    - image_tag "West_Side_Institutional_Synagogue_8.jpg"



