.container
  #header
    %nav
      %ul
        %li gallery
        %li about
        %li testamonials
        %li contact
    %hr
  .main
    .sidebar
      = image_tag "middleman.png"
      = image_tag "middleman.png"

    .maincolumn
      = image_tag "middleman.png"
      = image_tag "middleman.png"
      = image_tag "middleman.png"
      = image_tag "middleman.png"
      = image_tag "middleman.png"
      = image_tag "middleman.png"
  #footer
    %hr
    %ul
      %li address
      %li phonenumber
      %li cellnumber
      %li email address
