.maincolumn
  .next_button
    = link_to(image_tag('next-arrow.png'), 'gallery.html')
  %a(href="images/86th_Street_Residence.jpg" class="fancybox" rel="group1")
    = image_tag "86th_Street_Residence.jpg", :class => "special"
  %a(href="images/86th_Street_Residence_1.jpg" class="fancybox" rel="group1") 
    - image_tag "86th_Street_Residence_1.jpg", :class => "fancybox"
  %a(href="images/86th_Street_Residence_2.jpg" class="fancybox" rel="group1")
    - image_tag "86th_Street_Residence_2.jpg", :class => "fancybox"
  %a(href="images/86th_Street_Residence_6a.jpg" class="fancybox" rel="group1")
    - image_tag "86th_Street_Residence_6a.jpg", :class => "fancybox"
  %a(href="images/86th_Street_Residence_8.jpg" class="fancybox" rel="group1")  
    - image_tag "86th_Street_Residence_8.jpg", :class => "fancybox"
  %a(href="images/86th_Street_Residence_9.jpg" class="fancybox" rel="group1")
    - image_tag "86th_Street_Residence_9.jpg", :class => "fancybox"

  %a(href="images/East_End_Ave_Residence_3.jpg" class="fancybox" rel="group2")
    = image_tag "East_End_Ave_Residence_3.jpg"
  %a(href="images/East_End_Ave_Residence_7.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Ave_Residence_7.jpg"
  %a(href="images/East_End_Avenue_Residence2.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Avenue_Residence2.jpg"
  %a(href="images/East_End_Avenue_Residence_1.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Avenue_Residence_1.jpg"
  %a(href="images/East_End_Avenue_Residence_4.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Avenue_Residence_4.jpg"
  %a(href="images/East_End_Avenue_Residence_5.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Avenue_Residence_5.jpg"
  %a(href="images/East_End_Avenue_Residence_6.jpg" class="fancybox" rel="group2")
    - image_tag "East_End_Avenue_Residence_6.jpg"

  %a(href="images/Flatiron_Residence1.jpg" class="fancybox" rel="group3")
    = image_tag "Flatiron_Residence1.jpg"
  %a(href="images/Flatiron_Residence_2.jpg" class="fancybox" rel="group3")
    - image_tag "Flatiron_Residence_2.jpg"

  %a(href="images/Institue_of_Conflict_Resolution__The_Hague_1.jpg" class="fancybox" rel="group4")
    = image_tag "Institue_of_Conflict_Resolution__The_Hague_1.jpg"
  %a(href="images/Institute_of_Conflict_Resolution__The_Hague_2.jpg" class="fancybox" rel="group4")
    - image_tag "Institute_of_Conflict_Resolution__The_Hague_2.jpg"
  %a(href="images/Institute_of_Conflict_Resolution__The_Hague_3.jpg" class="fancybox" rel="group4")
    - image_tag "Institute_of_Conflict_Resolution__The_Hague_3.jpg"
  %a(href="images/Institute_of_Conflict_Resolution__The_Hague_4.jpg" class="fancybox" rel="group4")
    - image_tag "Institute_of_Conflict_Resolution__The_Hague_4.jpg"
  %a(href="images/Institute_of_Conflict_Resolution__The_Hague_5.jpg" class="fancybox" rel="group4")
    - image_tag "Institute_of_Conflict_Resolution__The_Hague_5.jpg"

  %a(href="images/marble_bathroom.jpg" class="fancybox" rel="group5")
    = image_tag "marble_bathroom.jpg", :class => 'special'

  %a(href="images/park_avenue_residence_1.jpg" class="fancybox" rel="group6")
    = image_tag "park_avenue_residence_1.jpg"
  %a(href="images/park_avenue_residence_2.jpg" class="fancybox" rel="group6")
    - image_tag "park_avenue_residence_2.jpg"

  %a(href="images/Scarsdale_Residence_1.jpg" class="fancybox" rel="group7")
    = image_tag "Scarsdale_Residence_1.jpg"
  %a(href="images/Scarsdale_Residence_2.jpg" class="fancybox" rel="group7")
    - image_tag "Scarsdale_Residence_2.jpg"

  %a(href="images/Third_Avenue_Lobby.jpg" class="fancybox" rel="group8")
    = image_tag "Third_Avenue_Lobby.jpg"

  %a(href="images/Traditional_Lobby_Design.jpg" class="fancybox" rel="group9")
    = image_tag "Traditional_Lobby_Design.jpg", :class => "special"
